<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29419941154-vee9duesuu1m85t0cgte79jrllk2shai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29419941154-vee9duesuu1m85t0cgte79jrllk2shai</string>
	<key>API_KEY</key>
	<string>AIzaSyD5RT6a9th_xegXIuMp-7s0ewxGTc94jmM</string>
	<key>GCM_SENDER_ID</key>
	<string>29419941154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okrGenerator</string>
	<key>PROJECT_ID</key>
	<string>okr-generator</string>
	<key>STORAGE_BUCKET</key>
	<string>okr-generator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29419941154:ios:30e6608fae4c5e948ec97b</string>
</dict>
</plist>